
.admin-container {
  margin-top: 20px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}


button.customButton {
  width: 100%;
}


table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 12px;
  border: 1px solid #ddd;
}

table th {
  background-color: #f4f4f4;
  text-align: left;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}


.modal-header {
  background-color: #f4f4f4;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  background-color: #f4f4f4;
}


form .form-group {
  margin-bottom: 20px;

}